-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: db_absensi_smp
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi` (
  `id_absen` int NOT NULL AUTO_INCREMENT,
  `id_siswa` int NOT NULL,
  `status` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'Hadir',
  `waktu` time DEFAULT NULL,
  `tanggal` date NOT NULL,
  `jam` time DEFAULT '00:00:00',
  `id_status` int DEFAULT '1',
  `scan_source` varchar(20) COLLATE utf8mb4_general_ci DEFAULT 'manual',
  `status_presensi` enum('tepat_waktu','terlambat','ditolak') COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'tepat_waktu' COMMENT 'Status kehadiran siswa',
  `keterlambatan_menit` int DEFAULT '0' COMMENT 'Jumlah menit keterlambatan',
  `waktu_absen` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT 'Waktu absensi tercatat',
  PRIMARY KEY (`id_absen`),
  KEY `idx_tanggal` (`tanggal`),
  KEY `idx_status` (`status`),
  KEY `idx_absensi_siswa_tanggal` (`id_siswa`,`tanggal`),
  KEY `idx_absensi_tanggal_status` (`tanggal`,`status`),
  KEY `fk_absensi_status` (`id_status`),
  CONSTRAINT `fk_absensi_status` FOREIGN KEY (`id_status`) REFERENCES `status_absen` (`id_status`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ke_siswa` FOREIGN KEY (`id_siswa`) REFERENCES `siswa` (`id_siswa`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `nama` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin','$2y$12$OrK4qqxN77vLwnl1EIoWe.2L68xgd7YMZxRtmkuIwDt6DtWtO3ZO2','Administrator');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `device_name` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `api_key` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_general_ci,
  `is_active` tinyint(1) DEFAULT '1',
  `last_used` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `api_key` (`api_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
INSERT INTO `devices` VALUES (1,'Web Interface','web_default_key_2024',NULL,NULL,1,'2026-04-14 11:22:03','2026-04-14 11:22:03');
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_absensi`
--

DROP TABLE IF EXISTS `jadwal_absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `hari` varchar(10) COLLATE utf8mb4_general_ci NOT NULL,
  `batas_terlambat` int DEFAULT '15',
  `jam_masuk_mulai` time DEFAULT '06:00:00',
  `jam_masuk_tepat` time DEFAULT '07:00:00',
  `jam_masuk_selesai` time DEFAULT '08:00:00',
  `jam_pulang_mulai` time DEFAULT '12:00:00',
  `jam_pulang_selesai` time DEFAULT '15:00:00',
  `toleransi_terlambat` int NOT NULL DEFAULT '15' COMMENT 'Toleransi keterlambatan dalam menit',
  PRIMARY KEY (`id`),
  UNIQUE KEY `hari` (`hari`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_absensi`
--

LOCK TABLES `jadwal_absensi` WRITE;
/*!40000 ALTER TABLE `jadwal_absensi` DISABLE KEYS */;
INSERT INTO `jadwal_absensi` VALUES (1,'Senin',15,'06:00:00','06:00:00','08:00:00','12:00:00','15:00:00',15),(3,'Selasa',15,'18:30:00','18:30:00','20:00:00','22:15:00','23:00:00',15),(4,'Rabu',15,'18:00:00','18:00:00','20:00:00','12:00:00','15:00:00',15),(5,'Kamis',15,'06:00:00','06:00:00','08:00:00','12:00:00','15:00:00',15),(6,'Jumat',15,'06:00:00','06:00:00','08:00:00','11:00:00','12:00:00',15);
/*!40000 ALTER TABLE `jadwal_absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas` (
  `id_kelas` int NOT NULL AUTO_INCREMENT,
  `nama_kelas` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id_kelas`),
  UNIQUE KEY `uk_kelas_nama` (`nama_kelas`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
INSERT INTO `kelas` VALUES (7,'7 A'),(8,'7 B'),(9,'7 C'),(10,'7 D'),(11,'7 E'),(12,'7 F'),(13,'7 G'),(14,'7 H'),(15,'7 I'),(16,'7 J'),(17,'8 A'),(18,'8 B'),(19,'8 C'),(20,'8 D'),(32,'8 E'),(21,'8 F'),(33,'8 G'),(22,'8 H'),(23,'8 I'),(24,'9 A'),(25,'9 B'),(26,'9 C'),(27,'9 D'),(28,'9 E'),(29,'9 F'),(34,'9 G'),(30,'9 H'),(31,'9 I');
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaturan`
--

DROP TABLE IF EXISTS `pengaturan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengaturan` (
  `id_pengaturan` int NOT NULL AUTO_INCREMENT,
  `nama_pengaturan` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `isi_pengaturan` varchar(500) COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`id_pengaturan`),
  UNIQUE KEY `uk_pengaturan_nama` (`nama_pengaturan`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaturan`
--

LOCK TABLES `pengaturan` WRITE;
/*!40000 ALTER TABLE `pengaturan` DISABLE KEYS */;
INSERT INTO `pengaturan` VALUES (1,'nama_sekolah','SMPN 1 Kota Jambi'),(2,'alamat_sekolah','Jl. DR. Ciptomangunkusumo No.22, Pasar Jambi, Jambi City, Jambi 36361'),(3,'logo_sekolah','logo_sek_1776686247.png'),(4,'logo_pemda','logo_pemda_1776686247.png'),(5,'jam_masuk','16:00:00'),(6,'jam_pulang','18:00:00'),(7,'jam_pulang_end','19:00:00'),(12,'tahun_aktif','2025/2026');
/*!40000 ALTER TABLE `pengaturan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rate_limit`
--

DROP TABLE IF EXISTS `rate_limit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rate_limit` (
  `id` int NOT NULL AUTO_INCREMENT,
  `identifier` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `request_count` int DEFAULT '1',
  `window_start` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_identifier_window` (`identifier`,`window_start`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rate_limit`
--

LOCK TABLES `rate_limit` WRITE;
/*!40000 ALTER TABLE `rate_limit` DISABLE KEYS */;
INSERT INTO `rate_limit` VALUES (88,'::1_c9dabaf19f4545a1ac270c60077e11ef',3,'2026-04-22 11:19:21');
/*!40000 ALTER TABLE `rate_limit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recovery_codes`
--

DROP TABLE IF EXISTS `recovery_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recovery_codes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_user` int NOT NULL,
  `code` varchar(64) COLLATE utf8mb4_general_ci NOT NULL,
  `used` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `used_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_recovery_codes_code` (`code`),
  KEY `id_user` (`id_user`),
  CONSTRAINT `fk_recovery_codes_user` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recovery_codes`
--

LOCK TABLES `recovery_codes` WRITE;
/*!40000 ALTER TABLE `recovery_codes` DISABLE KEYS */;
INSERT INTO `recovery_codes` VALUES (1,2,'83ZE7BYK',0,'2026-04-17 17:53:21',NULL),(2,2,'DZKUTRTE',0,'2026-04-17 17:53:21',NULL),(3,2,'PVFNRLVB',0,'2026-04-17 17:53:21',NULL),(4,2,'PLF8MHVS',0,'2026-04-17 17:53:21',NULL),(5,2,'YAR4H5XM',0,'2026-04-17 17:53:21',NULL),(6,1,'U443K5F8',0,'2026-04-17 18:11:05',NULL),(7,1,'2S3KCLKQ',0,'2026-04-17 18:11:05',NULL),(8,1,'MDTFCA2Q',0,'2026-04-17 18:11:05',NULL),(9,1,'D7MU3MPC',0,'2026-04-17 18:11:05',NULL),(10,1,'W83CVGR4',0,'2026-04-17 18:11:05',NULL);
/*!40000 ALTER TABLE `recovery_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa`
--

DROP TABLE IF EXISTS `siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `siswa` (
  `id_siswa` int NOT NULL AUTO_INCREMENT,
  `nis` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `nisn` varchar(20) COLLATE utf8mb4_general_ci NOT NULL,
  `nama_lengkap` varchar(100) COLLATE utf8mb4_general_ci NOT NULL,
  `jk` enum('L','P') COLLATE utf8mb4_general_ci DEFAULT NULL,
  `jenis_kelamin` varchar(20) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `id_kelas` int DEFAULT NULL,
  `foto` varchar(255) COLLATE utf8mb4_general_ci DEFAULT 'default.jpg',
  PRIMARY KEY (`id_siswa`),
  UNIQUE KEY `nisn` (`nisn`),
  UNIQUE KEY `uk_siswa_nis` (`nis`),
  KEY `idx_siswa_id_kelas` (`id_kelas`),
  CONSTRAINT `fk_siswa_kelas` FOREIGN KEY (`id_kelas`) REFERENCES `kelas` (`id_kelas`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1779 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa`
--

LOCK TABLES `siswa` WRITE;
/*!40000 ALTER TABLE `siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_absen`
--

DROP TABLE IF EXISTS `status_absen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `status_absen` (
  `id_status` int NOT NULL AUTO_INCREMENT,
  `nama_status` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  PRIMARY KEY (`id_status`),
  UNIQUE KEY `uk_status_absen_nama` (`nama_status`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_absen`
--

LOCK TABLES `status_absen` WRITE;
/*!40000 ALTER TABLE `status_absen` DISABLE KEYS */;
INSERT INTO `status_absen` VALUES (4,'Alpa'),(1,'Hadir'),(2,'Izin'),(3,'Sakit'),(5,'Terlambat');
/*!40000 ALTER TABLE `status_absen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id_user` int NOT NULL AUTO_INCREMENT,
  `username` varchar(50) COLLATE utf8mb4_general_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_general_ci NOT NULL,
  `nama_admin` varchar(100) COLLATE utf8mb4_general_ci DEFAULT NULL,
  `role` varchar(20) COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'admin',
  PRIMARY KEY (`id_user`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','admin123','Administrator','admin'),(2,'admin1','admin1','admin1','admin');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-22 20:53:37
